[submodule "include/Plutonium"]
	path = include/Plutonium
	url = https://github.com/XorTroll/Plutonium
[submodule "include/libusbhsfs"]
	path = include/libusbhsfs
	url = https://github.com/DarkMatterCore/libusbhsfs.git
	branch = master
